:root{
    --primary: rgb(220, 248, 248);
    --primarylighter:rgb(255, 255, 255);
    --secondary: black;
    --tertiary: #52c9ff;
    --docwidth: 1100px;
}
html{
    background-color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
*{transition: all 0.5s ease-out; box-sizing: content-box;}
a{ color: var(--tertiary); text-decoration: none; }
a:active{ color: var(--tertiary); }
a:visited{ color: var(--tertiary); }
a:hover{ color: var(--tertiary); text-decoration: underline;}
p{margin:0;padding:0;}
h2{text-align: center;font-size: 3rem;}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:90px;
    font-size: 1.3rem;
    max-width: var(--docwidth);
    width:90vw;
    margin: 0 auto;
}
nav{
    display: flex;
    gap:1.3rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}
main > div{
    max-width: var(--docwidth);
    width: 90vw;
}
footer{
    background-color: var(--primarylighter);
    padding:1rem;
    text-align: center;
}
.animal-card{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
}
.animal-card div{
    display: flex;
    flex-direction: column;
    background-color: var(--primarylighter);
    gap:0.1rem;
    border-radius: 14px;
    padding:0.4rem;
}
.animal-card > div img{
    width: 100%;
    height: 230px;
    border-radius: 10px;
    object-fit: cover;
}
.animal-card > div img:hover{
    opacity: 0.6;
}
.animal-card > div span{
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.animal-card h2{text-align:left;font-size: 2rem;padding:0;margin:0;}
#desc{width:300px;}
.details{
    display: flex;
    justify-content: center;
    gap:1rem;
}
.details img{
    height: 250px;
    object-fit: cover;
}
.details > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 500;
    gap:1rem;
}